<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon"
        href="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/nova%20logo.png?v=1727268802411" />
    <title>Tasty Flavors - Delivery de comida</title>
</head>

<body class="fundo">
    <h1 class="cor"> Bateu a fome? Vem de Tasty!</h1>
    <h2 class="meio"> Abriu, pediu, chegou!</h2>
    <header class="app-bar">
        <nav class="nav">
            <a href="/" class="logo"><img
                    src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/Tasty_Flavors_qualidade_melhorada-removebg-preview.png?v=1726575720589"></a>
            <div class="btn">
                <a href="{{ url_for('cadastro') }}" class="botão_cadastro">Cadastrar</a>
                <a href="{{ url_for('entrar') }}" class="botão_login">Entrar</a>
            </div>
            <button class="icone_menu"><img
                    src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/menu.svg?v=1727089620194"></button>
            <ul class="nav-list">
                <li><a href="#"></a></li>
                <li><a href="#" class="botao_individual">Entregadores</a></li>
                <li><a href="#" class="botao_individual">Restaurantes</a></li>
                <li><a href="#" class="botao_individual">Carreira</a></li>
                <li><a href="#" class="botao_individual">Cartão Tasty</a></li>
            </ul>
        </nav>
    </header>
    <nav class="mobile-bottom-nav">
        <section class="mobile-bottom-nav__item mobile-bottom-nav__item--active">
            <div class="mobile-bottom-nav__item-content">
                <i class="material-icons"><img
                        src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/home.svg?v=1727639490871"></i>
                menu
            </div>
        </section>

        <section class="mobile-bottom-nav__item">
            <div class="mobile-bottom-nav__item-content">
                <i class="material-icons"><img
                        src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/envelope.svg?v=1727639475152"></i>
                email
            </div>
        </section>

        <section class="mobile-bottom-nav__item">
            <div class="mobile-bottom-nav__item-content">
                <i class="material-icons"><img
                        src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/user.svg?v=1727639504933"></i>
                perfil
            </div>
        </section>

        <section class="mobile-bottom-nav__item">
            <div class="mobile-bottom-nav__item-content">
                <i class="material-icons"><img
                        src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/phone-call.svg?v=1727639499121"></i>
                contato
            </div>
        </section>
    </nav>
    <footer>
        <div class="footer-container">
            <div class="footer-section about">
                <h3>Sobre Nós</h3>
                <p1>Somos uma empresa dedicada a entregar os melhores pratos da cidade, direto para a sua porta.</p1>
            </div>
            <div class="footer-section contact">
                <h3>Contato</h3>
                <p>Email: felahau@gmail.com</p>
                <p>Telefone: (51) 99818-1113</p>
                <p>Endereço: Rua Silvio Silveira Soares, 2406, Porto Alegre - RS</p>
            </div>
            <div class="footer-section social">
                <h3>Siga-nos</h3>
                <a href="https://www.facebook.com/felipe.lafin.50"><img class="botao-maior"
                        src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/facebook.svg?v=1727646961367"></a>
                <a href="https://www.instagram.com/lafin_f41/"><img class="botao-maior"
                        src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/instagram.svg?v=1727646969148"></a>
                <a href="https://github.com/FelipeLafin"><img class="botao-maior"
                        src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/github.svg?v=1727697567955"></a>
                <a href="https://www.linkedin.com/in/felipe-lafin-haushahn-3785a2237/"><img class="botao-maior"
                        src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/linkedin.svg?v=1727647265977"></a>
            </div>
            <div class="footer-section links">
                <h3>Mais</h3>
                <ul style="list-style: none;">
                    <li><a href="#" class="cor-padrao">Política de Privacidade</a></li>
                    <li><a href="#" class="cor-padrao">Termos de Serviço</a></li>
                    <li><a href="#" class="cor-padrao">FAQs</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 TastyFlavors. Todos os direitos reservados.</p>
        </div>
    </footer>
    <script>
        const menuButton = document.querySelector('.icone_menu');
        const navList = document.querySelector('.nav');
        var navItems = document.querySelectorAll(".mobile-bottom-nav__item");

        menuButton.addEventListener('click', () => {
            navList.classList.toggle('active');
        });

        navItems.forEach(function (e, i) {
            e.addEventListener("click", function (e) {
                navItems.forEach(function (e2, i2) {
                    e2.classList.remove("mobile-bottom-nav__item--active");
                })
                this.classList.add("mobile-bottom-nav__item--active");
            });
        });
    </script>
</body>

</html>