<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_rest.css') }}">
    <title>Cadastro</title>
    <link rel="icon"
        href="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/nova%20logo.png?v=1727268802411" />
</head>
<style>
</style>

<body>
    <a href="/login-tema-escuro.html" class="botoes">Dark mode</a>
    <a href="{{ url_for('index') }}" class="voltar">
        <img src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/arrow-left.svg?v=1727190252399">
    </a>
    <img class="moto"
        src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/delivery-removebg-preview.png?v=1727196980809">
    <img class="carro"
        src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/carro_preview_rev.png?v=1727197745954">
    <img class="estrada"
        src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/estrada-removebg-preview.png?v=1727196373248">
    <form class="form-contato" method="POST" action="/login/restaurante">
        <h1 class="form-title center">Login</h1>
        {% if error %}
        <p class="error-message">⚠️{{ error }}⚠️</p>
        {% endif %}
        <input class="text-field email-field" type="email" placeholder="Digite o seu email" name="email" required
            id="email" />
        <input class="text-field password-field" type="password" placeholder="Digite a sua senha" name="senha"
            id="senha" required />
        <button type="submit" class="button">Entrar</button>
        <p>Ainda não possui uma conta? <a href="/cadastro_rest.html">Crie uma aqui!</a></p>
    </form>

</body>