<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food App UI</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paginaInicial.css') }}">

</head>

<body>
    <div class="app">
        <header style="border-bottom: 1px solid black;">
            <div class="texto-perfil">
                <div id="botao-perfil" class="perfil" style="cursor: pointer;">
                    {% if restaurante[1] %}
                    <img class="perfil" src="{{ url_for('static', filename='uploads/' + restaurante[1]) }}">
                    {% else %}
                    {{ session['nome_do_restaurante'][:2]|upper }}
                    {% endif %}
                </div>

                <div id="popup-editar" class="popup-editar" style="display: none;">
                    <a href="{{ url_for('perfil') }}">Editar perfil</a>
                </div>

                <div>
                    <div style="font-weight: bold;">{{ session['nome_do_restaurante'] }}</div>
                    <div style="font-size: small; color: white;">{{ session['email_restaurante'] }}</div>
                </div>
            </div>
            <img class="moto"
                src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/bike.png?v=1727182940819">
        </header>

        <div class="search-bar">
            <input type="text" placeholder="Pesquisar...">
            <button class="btn">
                <img style="width: 25px;" src="https://img.icons8.com/?size=100&id=7695&format=png&color=000000">
            </button>
        </div>

        <div class="categories">
            <div class="category red">Sobremesas</div>
            <div class="category">Alta Gastronomia</div>
            <div class="category">Hambúrgueres</div>
            <div class="category">Sushi</div>
            <div class="category">Pizzas</div>
            <div class="category">Saudável</div>
        </div>

        <div class="recommended">
            <h2>Recomendados</h2>
            <div class="recommended-grid">
                {% for nome, preco, imagem in recomendados %}
                <div class="food-item">
                    <img src="{{ imagem }}">
                    <div class="food-info">
                        <h3>{{ nome }}</h3>
                        <p>R${{ "%.2f"|format(preco) }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <nav class="mobile-bottom-nav">
            <section class="mobile-bottom-nav__item mobile-bottom-nav__item--active">
                <div class="mobile-bottom-nav__item-content">
                    <a class="material-icons" href="{{ url_for('index') }}"><img
                            src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/home.svg?v=1727639490871"></a>
                    menu
                    </button>
                </div>
            </section>

            <section class="mobile-bottom-nav__item">
                <div class="mobile-bottom-nav__item-content">
                    <i class="material-icons"><img
                            src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/envelope.svg?v=1727639475152"></i>
                    email
                </div>
            </section>

            <section class="mobile-bottom-nav__item">
                <div class="mobile-bottom-nav__item-content">
                    <i class="material-icons"><img
                            src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/user.svg?v=1727639504933"></i>
                    perfil
                </div>
            </section>

            <section class="mobile-bottom-nav__item">
                <div class="mobile-bottom-nav__item-content">
                    <i class="material-icons"><img
                            src="https://cdn.glitch.global/4d2a15bb-9968-4387-ad6b-c451b32c0162/phone-call.svg?v=1727639499121"></i>
                    contato
                </div>
            </section>
        </nav>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const navItems = document.querySelectorAll('.mobile-bottom-nav__item');

            navItems.forEach(item => {
                item.addEventListener('click', () => {
                    navItems.forEach(nav => nav.classList.remove('mobile-bottom-nav__item--active'));

                    item.classList.add('mobile-bottom-nav__item--active');
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const botaoPerfil = document.getElementById('botao-perfil');
            const popup = document.getElementById('popup-editar');

            botaoPerfil?.addEventListener('click', function () {
                popup.style.display = (popup.style.display === 'none') ? 'block' : 'none';
            });

            document.addEventListener('click', function (event) {
                if (!botaoPerfil.contains(event.target) && !popup.contains(event.target)) {
                    popup.style.display = 'none';
                }
            });
        });
    </script>
</body>

</html>